body {
	width: 100%;
	height: auto;
	background-image: url(img/backgroundPengajar.jpg);
    font-family: Montserrat;
}

.logo {
	width: 300px;
    height: 111px;
    background: url(img/KLClogo6.png) no-repeat;
    margin: 0px auto;
}


.login-block {
    width: 420px;
    height: 420px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: 3px solid #003391;
    margin: 0 auto;
    margin-top: 40px;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #003391;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #002f96;
}
.login-block button {
    width: 50%;
    height: 40px;
    background: #002f96;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #012f91;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #6699ff;
}

.atribut img {
	margin-top: -180px;
	margin-left: -195px;
	margin-right: -195px;
}


.lembaga img {
    margin-bottom: -200px;
        margin-left: 80px;
        padding-top: 30px; 
}